/*Buttons */
.btn {
    font-family: "Odibee Sans", sans-serif;
    font-size: 1.75rem;
    padding: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.btn-primary {
    background-color: #8BBEB1;
    color: #04342C;
    border: none;
    border-radius: 0.5em;
}

.btn-primary:hover {
    background-color: #04342C;
    color: #8BBEB1;
}

.btn-primary:active {
    background-color: #04342C;
    color: #8BBEB1;
}

.btn-search {
    background-color: #8BBEB1;
    color: #04342C;
    border: none;
    border-radius: 0 0.5em 0.5em 0;
}

.btn-search:hover {
    background-color: #04342C;
    color: #8BBEB1;
}

.btn-search:active {
    background-color: #04342C;
    color: #8BBEB1;
}

.btn-category {
    background-color: #FEFFFF;
    color: #04342C;
    border: 6px solid;
    cursor: pointer; 
}

.btn-category:hover {
    background-color: #C3C4D9;
    color: #04342C;
}

.btn-it {
  border-color: #70ABC7;
}

.btn-logistik {
  border-color: #C270C7;
}

.btn-marketing {
  border-color: #C7A170;
}

.btn-alphabet {
    font-family: Work Sans, sans-serif;
    font-weight: 600;
    background-color: #C3C4D9;
    padding: 0.5rem 1rem;
    color: #04342C;
    border: none;
    border-radius: 0.25em;
    text-decoration: none;
}

.btn-alphabet:hover {
    background-color: #8BBEB1;
    color: #04342C;
}

.btn-alphabet:active {
    background-color: #8BBEB1;
    color: #04342C;
}

.btn-moreinfo {
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem;
    color: #8BBEB1;
    text-decoration: none;
}

.btn-moreinfo:hover {
    text-decoration: underline;
}
