/*Google Fonts Einbindung */
.odibee-sans-regular {
  font-family: "Odibee Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
}

.work-sans-400 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.work-sans-600 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Grundstruktur */
body {
  font-family: "Work Sans", sans-serif;
  color: #FEFFFF;
  margin: 0;
}

hr {
  border: 2px solid;
  height: 2px;
  color: #FEFFFF;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Navigation */
.navbar {
  overflow: hidden;
  background-color: #FEFFFF;
  padding: 0.5rem;
  margin: 1rem;
}

.nav-logo {
  height: 70px;
  width: auto;
  padding: 5px 10px;
}

.navbar-link {
  float: right;
  display: block;
  color: #04342C;
  text-align: center;
  padding: 1rem;
  font-family: "Odibee Sans", sans-serif;
  font-size: 1.75rem;
  text-decoration: none;
  text-transform: uppercase;
}

/* Hintergrundfarben */
.bg-dark {
  background-color: #261B28;
}

.bg-light {
  background-color: #FEFFFF;
  margin-top: 20px;
}

.bg-blue {
  background-color: #C3C4D9;
}

/* Container */
.container {
  position: relative;
  color: #FEFFFF;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* Headlines */
h1 {
  color: #FEFFFF;
  font-family: "Odibee Sans", sans-serif;
  font-size: 48px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

h2 {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #FEFFFF;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
    text-align: left;
}

/* Text */
p {
    font-family: "Work Sans", sans-serif;
    font-size: 1.25rem;
    color: #FEFFFF;
    margin: 0.5rem 0;
    text-align: left;
    line-height: 1.25;
}

/* Text */
.text-dark {
  color: #04342C;
}

.text-green {
  color: #8BBEB1;
}

.text-link {
  color: #C3C4D9;
  text-decoration: underline;
}
/*Images */
.img-container {
    position: relative;
}

.img-hero {
    object-fit: cover;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.copyright {
    position: absolute;
    font-size: 0.75rem;
    color: #FEFFFF;
    bottom: 1rem;
    right: 1rem;
}

/* Suchen */
.search {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
}

input {
  flex: 1;
  padding: .5rem;
  font-family: Work Sans, sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
}

/* Alphabet Filter */
.alphabet {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
    justify-content: space-around;
}

/* Kategorien */
.category {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.category-marketing {
    color: #C7A170;
}
.category-logistik {
    color: #C270C7;
}
.category-it {
    color: #70ABC7;
}

/* Letters Glossar Übersicht*/
.letter {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    text-align: center;
    width: 50px;
    height: 50px;;
    background-color: #04342C;
    color: #8BBEB1;
    border: 2px solid #8BBEB1;
    border-radius: 0.25em;
    text-transform: uppercase;
    line-height: 50px;
    display: inline-block;
}

/* Cards */
.card {
    border: 2px solid #FEFFFF;
    border-radius: 0.5em;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    text-align: left;
}

/* Letzte Änderung */
.last-modified {
    font-family: "Work Sans", sans-serif;
    font-size: 1.3rem;
    color: #C3C4D9;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

/* Formular */
.form-label {
    font-family: "Work Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    color: #FEFFFF;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
}
.form-input {
    font-family: "Work Sans", sans-serif;
    font-size: 1.25rem;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
    border: 2px solid #FEFFFF;
    border-radius: 0.25em;
    background-color: #261B28;
    color: #FEFFFF;
}
.form-input::placeholder {
    color: #C3C4D9;
}

/* Footer */
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}