/* 12-spaltiges Grid System */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.columns {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

/* Grid System Breiten*/
.col-4 { grid-column: span 4; }
.col-6 { grid-column: span 6; }
.col-12 { grid-column: span 12; }

/*Google Fonts Einbindung */
.odibee-sans-regular {
  font-family: "Odibee Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
}

.work-sans-400 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #fff;
  margin: 0;
}

/* Navigation */
.navbar {
  overflow: hidden;
  background-color: #FEFFFF;
  padding: 0.5rem;
  margin: 1rem;
}

.nav-logo {
  height: 70px;
  width: auto;
  padding: 5px 10px;
}

.navbar-link {
  float: right;
  display: block;
  color: #04342C;
  text-align: center;
  padding: 1rem;
  font-family: "Odibee Sans", sans-serif;
  font-size: 1.75rem;
  text-decoration: none;
  text-transform: uppercase;
}

/* Hintergrundfarben */
.bg-dark {
  background-color: #261B28;
}

.bg-light {
  background-color: #FEFFFF;
  margin-top: 20px;
}

/* Container */
.container {
  position: relative;
  text-align: center;
  color: white;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* Headlines */
h1 {
  color: #FEFFFF;
  font-family: "Odibee Sans", sans-serif;
  font-size: 48px;
  margin-top: 2rem;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

/* Text */
p {
    font-family: "Work Sans", sans-serif;
    font-size: 1.25rem;
    color: #FEFFFF;
    margin: 0.5rem 0;
    text-align: left;
}

/*Buttons */
.btn {
    font-family: "Odibee Sans", sans-serif;
    font-size: 1.75rem;
    padding: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.btn-primary {
    background-color: #8BBEB1;
    color: #04342C;
    border: none;
    border-radius: 0.5em;
}

.btn-search {
    background-color: #8BBEB1;
    color: #04342C;
    border: none;
    border-radius: 0 0.5em 0.5em 0;
}

.btn-category {
    background-color: #FEFFFF;
    color: #04342C;
    border: 6px solid;
    cursor: pointer; 
}

.btn-category:hover {
    background-color: #C3C4D9;
    color: #04342C;
}

.btn-it {
  border-color: #70ABC7;
}

.btn-logistik {
  border-color: #C270C7;
}

.btn-marketing {
  border-color: #C7A170;
}

/* Button Group */
.btn-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-column: span 12;
}

/*Images */
.img-container {
    position: relative;
}

.img-hero {
    object-fit: cover;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.copyright {
    position: absolute;
    font-size: 0.75rem;
    color: #FEFFFF;
    bottom: 1rem;
    right: 1rem;
}

/* Suchen */
.search {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
}

input {
  flex: 1;
  padding: .5rem;
  font-family: Work Sans, sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .col-4 {
    grid-column: span 12;
  }
}